.editor-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.editor {
  width: 100%;
  border: 1px solid #ebebeb;
  margin-bottom: 1rem;
  min-height: 60vh;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;

  &__title {
    width: 100%;
    border-bottom: 1px solid #ebebeb;

    input {
      width: 100%;
      border: none;
      padding: 1.2rem 2rem;
      outline: none;
      font-size: 2rem;
      color: var(--color-text-black);
    }
  }

  // text area
  &__description {
    height: 48vh;

    background-color: red;
    textarea {
      height: 100%;
      width: 100%;
      outline: none;
      border: none;
      padding: 2rem 2.5rem;
      font-size: 1.6rem;
      font-family: inherit;
      color: var(--color-text-dark);
      resize: none;
    }
  }

  &__actions {
    min-height: 4rem;
    height: 5.5vh;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-top: 1px dashed #cdcdcd;
    background-color: rgba(235, 235, 235, 0.28);
    color: var(--color-text-light-1);
    font-style: italic;
  }
}
